[submodule "services/game-service"]
	path = services/game-service
	url = https://github.com/kahoots-undead-faf-team-6/game-service.git
[submodule "services/exam-service"]
	path = services/exam-service
	url = https://github.com/kahoots-undead-faf-team-6/exam-service.git
